<html>
    <head>
        <title>Mawethu's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mawethu Blog</a></h1>
        </div>

        <div>
            <p>published: 17.07.2019. 19h22</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet debitis iste odio consequuntur adipisci eum voluptas, deserunt voluptates tenetur at obcaecati delectus aut nisi eos eaque voluptatem temporibus excepturi quae!</p>
        </div>
        <div>
            <p>published: 17.07.2019, 19h24</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nihil sequi quas eos, illo in amet facilis blanditiis similique corporis quae repudiandae ipsum doloremque voluptate pariatur minima sint dicta commodi.</p>
        </div>
    </body>
</html>
